@model webapp.Models.IGV

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
   Nombre
   <form asp-controller="IGV" asp-action="Calcular">
    <input asp-for="Operador1" class="form-control" />
   </form> 
   Kilogramos
    <form asp-controller="IGV" asp-action="Calcular">
    <input asp-for="Operador2" class="form-control" />
   </form> 
   Unidad
   <form asp-controller="IGV" asp-action="Calcular">
    <input asp-for="Operador3" class="form-control" />
   </form> 
   Precio
  <form asp-controller="IGV" asp-action="Calcular">
    <input asp-for="Pre" class="form-control" />
    <button type="submit" class="btn btn-primary">Calcular</button>
   </form> 
  
    <h1>@ViewData["Message"]</h1>
</body>
</html>